# Import Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Import Data**

In [6]:
df = pd.read_csv('Walmart_Sales.csv')
df.drop_duplicates(inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [7]:
df.isna().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

**Data Normalization**
Before Performing Linear Regression when using multiple features, you must scale the data otherwise one feature may be weighed heavily against others simply because they are on different scales and have different units.

We can use mean normalization to do this:
Z = (xi - mu)/std

In [35]:
def standardize(df):
    df = df.copy().select_dtypes(exclude=['object']).drop('Weekly_Sales',axis=1)
    mu = df.mean().array
    std = df.std().array
    z = (df - mu)/std
    return z
standardized_values = standardize(df)

In [36]:
standardized_values

         Store  Holiday_Flag  Temperature  Fuel_Price       CPI  Unemployment
0    -1.693847     -0.274183    -0.995058   -1.713667  1.004097      0.056959
1    -1.693847      3.646633    -1.201077   -1.765952  1.007802      0.056959
2    -1.693847     -0.274183    -1.124091   -1.840023  1.008996      0.056959
3    -1.693847     -0.274183    -0.760848   -1.737631  1.009771      0.056959
4    -1.693847     -0.274183    -0.767896   -1.598203  1.010546      0.056959
...        ...           ...          ...         ...       ...           ...
6430  1.693847     -0.274183     0.228584    1.390775  0.519229      0.365080
6431  1.693847     -0.274183     0.229126    1.364632  0.523215      0.356018
6432  1.693847     -0.274183    -0.335799    1.397311  0.527200      0.356018
6433  1.693847     -0.274183    -0.227368    1.329776  0.527292      0.356018
6434  1.693847     -0.274183    -0.098335    1.140241  0.526734      0.356018

[6435 rows x 6 columns]

In [40]:
# Create the Linear Regression Function
def LinearRegression(x):
	"""
	x: is a matrix with shape p x m
	"""
	w = np.random.rand(x.shape[1],1) # creates a weight vector with shape m x n
	b = np.random.rand(1,) # creates a bias scalar with shape 1,
	y = np.dot(x,w) + b # linear regression formula
	return y

# Create the cost function
def MSE(y,y_hat):
	"""
	Calculate the Mean Squared Error between actual values and predicted values.

    Parameters:
    y : numpy array of actual values
    y_hat : numpy array of predicted values

    Returns:
    float : Mean Squared Error
	"""
	n = y.shape[0]
	residual = 1/n * np.sum((y-y_hat)**2)
	return residual

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [38]:
y_hat = LinearRegression(standardized_values[['Fuel_Price']])
print(y_hat)
y = df[['Weekly_Sales']]
MSE(y,y_hat)

[[0.50091942]
 [0.48893946]
 [0.47196785]
 ...
 [1.21372703]
 [1.19825291]
 [1.15482556]]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/numpy/core/fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Weekly_Sales    1.414594e+12
dtype: float64